@media all and (max-width: 489px) {
    .menu-active {
      width: 60%;
    }
  }
  
  @media all and (min-width: 490px) and (max-width: 767px) {
    .menu-active {
      width: 40%;
    }
  }
  
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .menu-active {
      width: 30%;
    }
  }
  @media all and (max-width: 1023px) {
    .menu {

      min-height: 80vh;
    height: 80%

    }
  }
  @media all and (min-width: 1024px) {
    .menu {
      position: static;
      overflow: visible;
      width: auto;
      height: auto;
    }
  }

  .navbar-main {
    background-color: #ccc8aa !important;
  }
  /* f1efef */