.sidebar-main {
    flex: auto;
    flex-direction: column;
    background-color: #b30000;
    color: white;
}

.sidebar-item {
    cursor: pointer;
    padding-left: 15px;
    display: flex;
    align-items: center;
}