.sidebar-main {
    flex: auto;
    flex-direction: column;
    background-color: #b30000;
    color: white;
}

.sidebar-item {
    cursor: pointer;
    padding: 15px;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebaritem-active {
    background-color: aqua;
}